@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url('../img/slice.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.navigation {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}
.black {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.8);
}
.nav-bar-brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.brend {
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  line-height: 1;
}
.logo {
  width: 50px;
  height: 50px;
  background-image: url('../img/libra.png');
  background-size: 100% 100%;
}
.page-nav {
  padding-right: 5px;
  color: #ffffff;
}
.nav-link {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 1em 0;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-link:hover {
  color: #d4a77b;
}
.toggle-button {
  display: none;
}
.header-content {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.header-title,
.pre-header-title {
  text-align: center;
  width: 100%;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 5px #96969a;
}
.header-title {
  font-weight: bold;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: text 3s 1;
          animation: text 3s 1;
}
.pre-header-title {
  font-size: 1em;
}
.read-more {
  width: 140px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: .5em 0.8em;
  position: relative;
  background: none;
  border-radius: 5px;
  text-shadow: 0px 0px 5px #96969a;
  overflow: hidden;
}
.read-more:focus {
  outline: none;
}
.read-more:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5s;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-130px) skewX(-15deg);
          transform: translateX(-130px) skewX(-15deg);
}
.read-more:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translate(-130px) skewX(-15deg);
          transform: translate(-130px) skewX(-15deg);
}
.read-more:hover {
  cursor: pointer;
  background: black;
}
.read-more:hover:after {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
}
.read-more:hover:after {
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll:before,
.icon-scroll:before:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 60px;
  margin-left: -15px;
  top: 90%;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
.fixed-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  padding: 15px 0px 10px 0px;
}
p {
  line-height: 1.2;
}
a {
  text-decoration: none;
  text-shadow: 0px 0px 5px #96969a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
a:focus {
  text-decoration: none;
}
.container-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
}
.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixed-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 50%;
}
.fixed-btn a {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
}
.free-consalt {
  margin-left: -60px;
  color: #d4a77b;
  position: relative;
}
.free-consalt:before {
  content: '';
  width: 24px;
  height: 24px;
  top: -3px;
  left: -35px;
  position: absolute;
  background-image: url('../img/phone-logo.png');
}
.ask-question {
  background-color: #d4a77b;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-right: -30px;
}
.socials-fixed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: 80%;
}
.socials-fixed a {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
}
.fixed-fb {
  background-image: url('../img/fixed-fb.png');
}
.fixed-insta {
  background-image: url('../img/fixed-insta.png');
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#40383a), color-stop(#403739), color-stop(#403639), color-stop(#3f3638), to(#3f3537));
  background: linear-gradient(to bottom, #40383a, #403739, #403639, #3f3638, #3f3537);
  background-image: url('../img/slice.png');
  background-size: cover;
  background-position: center;
  font-family: "PT+Sans";
}
.navigation {
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
}
.black {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background: #41383a;
}
.nav-bar-brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.logo {
  width: 55px;
  height: 50px;
  background-image: url('../img/libra.png');
  background-size: cover;
}
.page-nav {
  color: #ffffff;
}
.nav-link {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 0.8em 0.5em;
  font-weight: bold;
  font-style: regular;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-link:hover {
  color: #d4a77b;
}
.nav-link-logo,
.social-wrap,
.call-to-mob {
  display: none;
}
.call-to {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  padding: 0.8em 0.5em;
  font-weight: bold;
  font-style: regular;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  margin-right: 10px;
}
.call-to:before {
  content: '';
  width: 24px;
  height: 24px;
  top: 10px;
  left: -25px;
  position: absolute;
  background-image: url('../img/phone-logo.png');
}
.call-to:hover {
  color: #d4a77b;
}
.toggle-button {
  display: none;
}
.page-nav-mob-btn {
  display: none;
}
.header-content {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.content-logo {
  width: 260px;
  height: 190px;
  background-size: cover;
  background-image: url('../img/family-law.png');
}
.header-title {
  font-style: bold;
}
.header-title,
.pre-header-title {
  text-align: center;
  width: 100%;
  letter-spacing: 0.1em;
}
.pre-header-title {
  color: #d4a77b;
  font-style: regular;
}
.header-title {
  font-weight: bold;
  font-weight: 700;
  font-size: 2em;
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: text 3s 1;
          animation: text 3s 1;
}
.pre-header-title {
  font-size: 1em;
}
.read-more {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-family: "PT+Sans";
  padding: .5em 0.8em;
  position: relative;
  color: #ffffff;
  background-color: #e50433;
  border-bottom: 2px solid #a40a2a;
  border-radius: 5px;
  overflow: hidden;
}
.read-more:hover {
  background-color: #a40a2a;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll:before,
.icon-scroll:before:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -5px;
  top: 90%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 40px 26px rgba(212, 167, 123, 0.6);
          box-shadow: 0px 0px 40px 26px rgba(212, 167, 123, 0.6);
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #d4a77b;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.page-main {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#40383a), color-stop(#403739), color-stop(#403639), color-stop(#3f3638), to(#3f3537));
  background: linear-gradient(to top, #40383a, #403739, #403639, #3f3638, #3f3537);
}
.services-block {
  border-radius: 10px;
  background-color: #f3f3f9;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-pre-title {
  color: #d4a77b;
  font-size: 1.2em;
  margin-left: 30px;
}
.main-title {
  color: #242424;
  font-size: 2.3em;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.2em;
}
.services-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.services-item {
  width: 33.3%;
  padding: 30px 30px 70px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services-item:hover {
  -webkit-box-shadow: 0 9px 90px rgba(155, 122, 91, 0.51);
          box-shadow: 0 9px 90px rgba(155, 122, 91, 0.51);
}
.services-item:hover .item-title {
  background-color: #f50336;
  padding: 5px;
  color: #ffffff;
}
.services-item:hover .item-linc {
  display: inline-block;
}
.icon {
  width: 90px;
  height: 90px;
  background-size: 100% 100%;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
.divorce {
  background-image: url('../img/divorce.png');
}
.inheritance {
  background-image: url('../img/inheritance.png');
}
.alimony {
  background-image: url('../img/alimony.png');
}
.disqualification {
  background-image: url('../img/disqualification.png');
}
.travel {
  width: 80px;
  background-image: url('../img/travel.png');
}
.inheritance {
  background-image: url('../img/inheritance.png');
}
.item-title {
  padding: 5px;
  font-size: 1.3em;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.item-title,
.item-description {
  color: #242424;
}
.item-description {
  width: 100%;
  margin-top: 15px;
  font-size: 1em;
}
.item-linc {
  margin-top: 20px;
  font-size: 0.8em;
  color: #2c86eb;
  border-bottom: 4px dotted #2c86eb;
  padding-bottom: 5px;
  display: none;
  position: absolute;
}
.asking {
  padding: 50px 0;
  width: 100%;
  background-image: url('../img/whiteboard.png');
  background-color: linear-gradient(to top, #40383a, #403739, #403639, #3f3638, #3f3537);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.asking .main-title {
  color: #ffffff;
}
.wrap {
  padding: 40px;
}
.input {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f5f9fb;
  margin-left: 30px;
  font-size: 1em;
}
.input-btn {
  width: 20%;
  padding: 20px 40px;
  border: 0;
  border-radius: 10px;
  background: #f5033c;
  margin-left: -125px;
  font-size: 1em;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.input-btn:hover {
  background-color: #a40a2a;
}
.testimonials-section {
  padding: 50px 0;
  background-color: #ffffff;
  width: 100%;
}
.testimonials-block-1 {
  background-color: #f5f9fb;
  width: 100%;
  border-radius: 10px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.testi-head-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonial-btn,
.testimonial-btn-mob {
  font-size: 0.8em;
  color: #242424;
  padding: 10px 30px;
  height: 15px;
  margin-top: 15px;
  margin-right: 30px;
  background-color: #e8e8ee;
  border-radius: 10px;
}
.testimonial-btn-mob {
  display: none;
}
.fotorama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slides-wrapper {
  position: relative;
}
.slides-wrapper:before {
  content: '\201C';
  position: absolute;
  top: -50px;
  left: 30px;
  font-family: "Arno Pro";
  color: #e8e8ee;
  font-size: 70px;
  font-size: 25.375rem;
  text-align: center;
}
.slides-wrapper .fotorama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slides-wrapper .fotorama__arr {
  top: 30%;
}
.fotorama__arr {
  top: 30%;
}
.testimonials-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  opacity: 0;
  padding: 0 30px;
}
.testimonials-item p {
  color: #242424;
}
.testimonials-item:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cd-testimonials p {
  color: #242424;
  text-align: left;
  margin-bottom: 20px;
  padding: 0 50px;
}
.cd-author {
  color: #242424;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
.cd-author img,
.cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
.cd-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 5px;
}
.cd-author .cd-author-info {
  text-align: left;
  line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
}
.testi-btn {
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testi-btn-link {
  display: inline-block;
  color: #2c86eb;
  text-shadow: none;
  border-bottom: 1px dotted;
  cursor: pointer;
}
.repost {
  position: relative;
}
.repost:before {
  content: '';
  position: absolute;
  width: 22px;
  height: 21px;
  background-size: cover;
  margin-left: -30px;
  top: -2px;
  background-image: url('../img/link-testimonials.png');
}
.video-testimonials {
  background-color: #ffffff;
}
.testimonials-block-2 {
  background-color: #ffffff;
  padding: 40px;
}
.testimonials-block-2 .main-title {
  color: #9e9ea1;
}
.cd-author-info {
  text-align: left;
  color: #242424;
}
.slider-wrap-1,
.slider-wrap-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.slider-wrap-1 .fotorama,
.slider-wrap-2 .fotorama {
  height: auto;
}
.slider-wrap-1 .fotorama__arr,
.slider-wrap-2 .fotorama__arr {
  top: 35%;
}
.slider-wrap-2 {
  margin-top: 30px;
}
.testimonials-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.client {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  list-style: none;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
}
.client:hover .hover-block {
  top: 0;
}
.hover-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0.8;
  background: #d4a77b;
  -webkit-transition: .5s;
  transition: .5s;
}
.whatch {
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 100%;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}
.whatch:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../img/pley.png');
  background-size: cover;
  top: -2px;
  left: 65px;
}
.client-1 {
  background-image: url('../img/video.png');
}
.client-2 {
  background-image: url('../img/video-1.png');
}
.client-3 {
  background-image: url('../img/video-2.png');
}
.list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 33.3%;
}
.consultation {
  background-color: #ffffff;
}
.consultation-wrap {
  border-radius: 10px;
  background-image: url('../img/consultation.png');
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  z-index: 100;
}
.consultation-wrap .main-title {
  color: #ffffff;
}
.consultation-wrap .input {
  width: 20%;
}
.consultation-wrap .input-btn {
  margin-left: -50px;
}
.phone {
  width: 50% !important;
  border-left: 1px solid #413a3c;
  padding: 20px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  background-color: #f5f9fb;
  margin-left: -30px;
  font-size: 1em;
}
.consultation-text {
  margin-left: 100px;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1em;
  position: relative;
}
.consultation-text:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -60px;
  width: 50px;
  height: 2px;
  background-color: #ededed;
}
.about-us {
  width: 100%;
  background-color: #f5f9fb;
}
.about-us .title-wrap {
  margin-left: 30px;
}
.about-us-description {
  width: 100%;
  background-image: url('../img/family-law-logo.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about-us-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-us-wrap {
  width: 30%;
  padding-top: 50px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 50px;
  position: relative;
  z-index: 1;
}
.quote {
  margin-top: 20px;
  color: #3b3b3b;
  letter-spacing: 0.35px;
  font-size: 0.8em;
  position: relative;
}
.quote:before {
  content: '\201C';
  position: absolute;
  top: -230px;
  left: 0;
  margin-left: -10px;
  font-family: "Arno Pro";
  color: #e8e8ee;
  font-size: 70px;
  font-size: 25.375rem;
  text-align: center;
}
.about-text {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 450px;
  color: #242424;
  font-family: "SFUI Display - Heavy";
}
.about-text span {
  color: #2c86eb;
  font-weight: bold;
  border-bottom: 1px dotted;
}
.about-description {
  margin-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 450px;
  color: #242424;
  font-family: "PT Sans";
}
.page-footer .consultation-wrap {
  background-image: none;
}
.page-footer .main-title,
.page-footer .consultation-text {
  color: #242424;
}
.blue {
  color: #2c86eb;
  font-weight: bold;
  border-bottom: 1px dotted;
}
.bold {
  font-weight: bold;
}
.phone-title {
  font-weight: bold;
  margin-top: 20px;
}
.input-btn {
  width: 25%;
}
.contact-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 50px;
  border-bottom: 1px solid #ededed;
}
.contact-list img {
  width: 35px;
  height: 35px;
}
.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 100px;
}
.telegram-list {
  margin-left: 10px;
  padding-top: 20px;
  color: black;
}
.telegram-list .tel {
  color: #a9a8a6;
}
.telegram-list .tel-nic {
  color: #242424;
  font-weight: bold;
  border-bottom: 1px dotted;
}
.telegram-list .mail-nic {
  color: #2c86eb;
  font-weight: bold;
  border-bottom: 1px dotted;
}
.footer-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px;
}
.underline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.underline-item a {
  display: inline-block;
}
.underline-item .telegram-list {
  padding-top: 0px;
  font-size: 0.8em;
}
.underline-item .telegram-list .tel {
  width: 255px;
  color: #2c86eb;
  border-bottom: 1px dotted;
}
.eyar {
  width: 47px;
  height: 12px;
}
.socials {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-size: cover;
  margin-right: 15px;
  cursor: pointer;
}
.tagline {
  color: #242424;
  line-height: 1.7;
  margin-left: 30px;
  position: relative;
}
.tagline:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #ededed;
  top: 15px;
  left: -30px;
}
.und-line {
  width: 81px;
  border-bottom: 1px solid;
}
.mobile-footer-fixed {
  display: none;
}
.popup {
  background-color: #413a3c;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  overflow: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid grey;
  z-index: 1000;
  width: 90%;
  height: 85%;
  border-radius: 30px;
}
.open {
  opacity: 1;
  visibility: visible;
}
.popup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup-conten {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  text-align: center;
}
.popup-conten .askong-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup-conten .askong-form .input,
.popup-conten .askong-form .phone {
  display: inline-block;
  border-radius: 10px;
  margin-left: 0;
  margin: 20px 0;
}
.popup-conten .askong-form .phone {
  width: 80% !important;
}
.popup-conten .askong-form .input-btn {
  margin-left: 0;
}
.cancel {
  cursor: pointer;
  float: right;
  z-index: 100;
  top: 5px;
  right: 10px;
}
@media only screen and (max-width: 900px) {
  .socials-fixed {
    display: none;
  }
  .fixed-btn {
    display: none;
  }
  .call-to {
    display: none;
  }
  .toggle-button {
    display: inline-block;
    margin-top: 12px;
    margin-right: 20px;
    height: 20px;
    width: 45px;
    cursor: pointer;
    z-index: 1;
  }
  .bar {
    background-color: #d4a77b;
    display: block;
    width: 100%;
    height: 5px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    border-radius: 10px;
  }
  .bar + .bar {
    border-radius: 10px;
    margin-top: 4px;
  }
  .middle {
    top: 11px;
  }
  .bottom {
    top: 22px;
  }
  .toggle-active .top {
    -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
            transform: translateY(6px) translateX(0) rotate(45deg);
  }
  .toggle-active .middle {
    opacity: 0;
  }
  .toggle-active .bottom {
    -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
            transform: translateY(-12px) translateX(0) rotate(-45deg);
  }
  .overlay {
    padding-top: 60px;
    position: fixed;
    background: #41383a;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
  }
  .nav-link {
    width: 100%;
    padding: 2em 0;
  }
  .nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .nav-link-logo {
    margin-top: 30px;
    margin: auto;
    display: block;
    background-image: url('../img/family-law-mob-logo.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 75px;
  }
  .page-nav-mob-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .page-nav-mob-btn a {
    width: 150px;
    height: 40px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  .page-nav-mob-btn a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
  }
  .icon-hz {
    display: none;
  }
  .slidesjs-container {
    height: 250px !important;
  }
  .free-consalt-mob-btn {
    border-radius: 10px 0 0 10px;
    padding: 2px 0;
    background-color: #e50433;
  }
  .free-consalt-mob-btn:before {
    background-image: url('../img/mob-phone.png');
  }
  .ask-question-mob-btn {
    line-height: 2.2;
    border-radius: 0 10px 10px 0;
    background-color: #d4a77b;
  }
  .ask-question-mob-btn:before {
    background-image: url('../img/question-mob.png');
  }
  .social-wrap {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-wrap a {
    margin: 10px;
  }
  .social-wrap a img {
    margin-right: 0;
  }
  .services-item {
    width: 50%;
  }
  .consultation-wrap .askong-form {
    margin: auto;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
  .consultation-wrap .askong-form .input {
    width: 95%;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .consultation-wrap .askong-form .phone {
    width: 95% !important;
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    border-left: 0px;
    text-align: center;
  }
  .consultation-wrap .askong-form .input-btn {
    margin-left: 0;
    width: 35%;
  }
  .about-us-description {
    background-image: url('../img/mobile-family-law.png');
    background-size: 50% 50%;
    background-position: top left;
  }
  .about-us-wrap {
    width: 45%;
    padding-top: 50px;
  }
  .about-text {
    padding-left: 0;
  }
  .about-description {
    padding-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .container-wrap {
    padding: 0 5px;
  }
  .icon-scroll {
    display: none;
  }
  .call-to-mob {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    padding: 0.8em 0.5em;
    font-weight: bold;
    font-style: regular;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
  }
  .nav-link {
    padding: 1em 0;
  }
  .nav-link-logo {
    margin-top: 30px;
    margin: auto;
    display: block;
    background-image: url('../img/family-law-mob-logo.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 75px;
  }
  .header-content {
    padding: 0 5px;
  }
  .read-more {
    width: 280px;
  }
  .header-title {
    font-size: 1.5em;
  }
  .services-block {
    padding: 5px;
  }
  .main-pre-title {
    margin-left: 0px;
  }
  .main-title {
    font-size: 1.8em;
    margin-left: 0px;
  }
  .services-block {
    text-align: center;
  }
  .services-item {
    width: 100%;
    padding: 10px 10px 70px 10px;
  }
  .icon {
    margin: auto;
  }
  .asking {
    text-align: center;
  }
  .askong-form .input {
    text-align: center;
    width: 60%;
    margin-left: 0px;
  }
  .askong-form .input-btn {
    margin-top: 20px;
    width: 60%;
    margin-left: 0px;
  }
  .testimonial-btn {
    display: none;
  }
  .testimonials-block-1 {
    padding: 15px;
    padding-bottom: 40px;
    text-align: center;
  }
  .testimonials-block-1 .testimonials-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .whatch:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(../img/pley.png);
    background-size: cover;
    top: -20px;
    left: 33px;
  }
  .title-wrap {
    margin: auto;
  }
  .testi-btn {
    padding: 0 5px;
  }
  .cd-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-left: 0px;
  }
  .testimonial-btn-mob {
    display: block;
    margin-right: 0px;
  }
  .testimonials-block-2 {
    text-align: center;
    padding: 5px;
  }
  .client {
    width: 140px;
    height: 100px;
  }
  .cd-author-info {
    display: none;
  }
  .testimonials-item {
    padding: 0 10px;
  }
  .consultation-wrap {
    padding: 5px;
    text-align: center;
  }
  .consultation-wrap .input,
  .consultation-wrap .phone {
    width: 60% !important;
  }
  .consultation-wrap .askong-form .phone {
    width: 60% !important;
  }
  .consultation-wrap .askong-form .input-btn {
    width: 60%;
  }
  .consultation-text {
    margin-left: 0;
  }
  .about-us {
    text-align: center;
  }
  .about-us-description {
    background-image: none;
  }
  .about-us-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding-top: 0;
  }
  .quote {
    margin-top: 0;
  }
  .quote:before {
    top: -99px;
    left: 0;
    margin-left: -90px;
    font-size: 15.375rem;
  }
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-item {
    margin-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
  }
  .telegram-list {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
  }
  .footer-underline {
    text-align: center;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .underline-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .column-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-block .telegram-list {
    text-align: center;
  }
  .column-block .tel {
    margin: auto;
  }
  .eyar {
    margin: auto;
  }
  .family-low-mob-block {
    width: 100%;
    height: 160px;
    background-image: url('../img/mobile-family-law.png');
    background-size: cover;
    background-position: center;
    margin: 20px 0;
  }
  .und-line {
    margin: auto;
  }
  .page-footer {
    padding-bottom: 50px;
  }
  .mobile-footer-fixed {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .mobile-footer-fixed a {
    width: 50%;
    height: 40px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
    border-radius: 0px;
  }
  .mobile-footer-fixed a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
  }
  .mobile-footer-fixed .free-consalt-mob-btn {
    padding: 2px 0;
    background-color: #e50433;
  }
  .mobile-footer-fixed .free-consalt-mob-btn:before {
    background-image: url('../img/mob-phone.png');
  }
  .mobile-footer-fixed .ask-question-mob-btn {
    line-height: 2.2;
    background-color: #d4a77b;
  }
  .mobile-footer-fixed .ask-question-mob-btn:before {
    background-image: url('../img/question-mob.png');
  }
}
.slides-wrapper {
  position: relative;
}
.slides-wrapper:before {
  content: '\201C';
  position: absolute;
  top: -50px;
  left: 30px;
  font-family: "Arno Pro";
  color: #e8e8ee;
  font-size: 70px;
  font-size: 25.375rem;
  text-align: center;
}
.slides-wrapper .fotorama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slides-wrapper .fotorama__arr {
  top: 30%;
}
